.bady {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 980px;
  width: 100%;
  /* height: 100vh; */
}

.split2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.splited_form_group input {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 1rem;
  color: #1d2129;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.brand_section {
  flex: 1;
  padding: 32px;
  max-width: 500px;
}

.brand_logo {
  font-size: 3.5rem;
  font-weight: bold;
  color: #81be1c;
  margin-bottom: 16px;
  letter-spacing: -1px;
}

.brand_tagline {
  font-size: 1.5rem;
  line-height: 1.3;
  color: #1c1e21;
}

.login_form_container {
  flex: 10 10 396;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 34px;
}

.loginform {
  min-width: 420px;
  display: flex;
  flex-direction: column;
}

.login_form p {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.form_group {
  margin-bottom: 10px;
}

.form_group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 1rem;
  color: #1d2129;
}

.form_group_select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_group_select select {
  width: 30%;
  background-color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 1rem;
  color: #1d2129;
  margin-bottom: 10px;
}

.form_group input:focus {
  outline: none;
  border-color: #81be1c;
  box-shadow: 0 0 0 2px rgba(129, 190, 28, 0.2);
}

.login_button {
  background-color: #81be1c;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.login_button:hover {
  background-color: #70a518;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 380px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.popup-header h3 {
  color: #1c1e21;
  font-size: 1.2rem;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #606770;
}

.popup-content {
  margin-bottom: 15px;
  color: #1c1e21;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
}

.popup_btn {
  background-color: #81be1c;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
}

.popup_btn:hover {
  background-color: #70a518;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .login-form-container {
    width: 100%;
    max-width: 396px;
  }
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: fit;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  border: 1px solid #ccc;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.none {
  display: none;
}

.choose {
  background-color: #81be1c;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
}
.choose:hover {
  background-color: #70a518;
}

.avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.login{
  margin: 10px;
  text-align: center;
}

.redirect{
  margin: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.github_button {
  background-color: #1f1e1e;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}