.groupContent {
    padding: 20px;
    background: var(--background);
}

h2, h3 {
    margin-bottom: 20px;
}

.createGroup form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.createGroup input,
.createGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--third-color);
    border-radius: 8px;
}

.createGroup button {
    padding: 10px 20px;
    background: var(--btn-color);
    color: var(--background);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.browseGroups .groupCard {
    padding: 20px;
    background: var(--lightGray-color);
    margin-bottom: 20px;
    border-radius: 8px;
}

.browseGroups .groupCard h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.browseGroups button {
    padding: 8px 15px;
    background: var(--btn-color);
    color: var(--background);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
