.groupInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid var(--third-color);
    border-radius: 8px;
    outline: none;
    resize: none;
}

.groupCard {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--lightGray-color);
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
}

.groupCard img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

.groupInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.groupHead .groupActions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.groupHead .btn {
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 8px;
}

.searchBar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--third-color);
    border-radius: 8px;
    margin-bottom: 20px;
}

.invitationRequests {
    max-height: 300px;
    overflow-y: auto;
}

.invitationCard {
    padding: 10px;
    background-color: var(--lightGray-color);
    margin-bottom: 10px;
    border-radius: 8px;
}
