* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --primary-color: #000000;
  --secondary-color: #808080;
  --secondary-hover: #afafaf;
  --third-color: #e4e4e4;
  --lightGray-color: #f4f4f4;
  --btn-color: #81BE1C;
  --danger-color: #ee5459;
  --grenv2: #e9fc6e;
  --gr: #c3f832;
  --blackv2: #292929;
  --primaryv2: #f8f8f8;
  --wahitev2: #ffffff;
  --mainColor: rgb(104, 164, 0);
}

body {
  background-color: var(--background);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.container {
  display: grid;
  grid-template-columns: 18% 54% 28%;
}

/* Left Sidebar */
.leftSidebar {
  position: sticky;
  top: 0;
  height: 97vh;
  background: var(--background);
  padding: 20px;
  border-right: 1px solid var(--third-color);
  /* z-index: 1; */
}

.grpContainer .feedTabs {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
}
.grpContainer {
  margin-left: 10px;
}
.grpContainer .feedTabs .tab {
  padding: 10px 20px;
  border: 1px solid var(--third-color);
  border-radius: 8px;
  background-color: var(--lightGray-color);
  cursor: pointer;
}

.grpContainer .feedTabs .tab.active {
  background-color: var(--btn-color);
  color: var(--background);
  font-weight: bold;
}

.logo {
  margin-bottom: 10px;
}

.nav .menuItem {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.danger {
  color: var(--danger-color);
}

.secondary {
  color: var(--secondary-color);
}

.primary {
  color: var(--primary-color);
}

/* Feed Section */
.feed {
  padding: 20px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchBar input {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--third-color);
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: 'Poppins', FontAwesome, sans-serif;
}

.imageUpload {
  display: none;
}

.newPost textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--third-color);
  border-radius: 8px;
  resize: none;
}

.newPost {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imgPrivacyPost {
  display: grid;
  grid-template-columns: 35% 63%;
  gap: 2%;
}

.imageUp {
  padding: 6px 15px;
  background-color: var(--btn-color);
  color: var(--background);
  border-radius: 8px;
  cursor: pointer;
}

.imgPrivacyPost select {
  font-size: 16px;
  outline: 0;
  border: 1px solid var(--third-color);
  border-radius: 8px;
}

.newPost button {
  align-self: flex-end;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btnGreen {
  background: var(--btn-color);
  color: var(--background);
}

.btnRed {
  background: var(--danger-color);
  color: var(--background);
}

.btnGray {
  background: var(--secondary-color);
  color: var(--background);
}

.post {
  padding: 20px;
  background: var(--lightGray-color);
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative;
}

.postHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.postContent {
  word-wrap: break-word;
}

.postImage {
  background-color: var(--secondary-hover);
  display: flex;
  justify-content: center;
  align-items: center;
}

.editPoints {
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 23px;
  font-weight: bolder;
  cursor: pointer;
}

.editPointContainer {
  position: relative;
}

.editPoint{
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}

.editMenu {
  position: absolute;
  background: var(--background);
  border: 1px solid var(--third-color);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 100;
  right: 10px;
  top: 5px;
}

.editMenu .editBtn {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.editMenu .editBtn:hover {
  background: #f0f0f0;
}


.postImage img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.profileImg {
  border-radius: 50%;
  object-fit: cover;
}

.smallImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.postInfo {
  display: flex;
  flex-direction: column;
}

.postName {
  font-weight: bold;
  font-size: 15px;
}

.postTime {
  font-size: 12px;
  color: var(--secondary-color);
}

.postImage {
  width: 100%;
  margin: 10px 0;
  border-radius: 8px;
}

.postActions {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--secondary-color);
}

.postActions label {
  cursor: pointer;
}

.directMessages div,
.groupMessages div {
  padding-left: 10px;
  position: relative;
}

.events h3,
.directMessages h3,
.groupMessages h3 {
  margin-bottom: 20px;
}

.status {
  position: absolute;
  padding: 6px;
  border: 3px solid var(--background);
  border-radius: 50%;
}

.profileStatusXY {
  left: 48px;
  top: 42px;
}

.chatProfileStatusXY {
  left: 28px;
  top: 16px;
}

/* Comments Section Styles */
.commentsSection {
  border-top: 1px solid var(--third-color);
  padding-top: 15px;
  max-height: 250px;
  overflow: auto;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.smallImg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.commentContent {
  background-color: var(--third-color);
  padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.commentName {
  font-weight: bold;
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
}

.commentContent p {
  font-size: 12px;
  margin-bottom: 5px;
}

.commentTime {
  font-size: 11px;
  color: var(--secondary-color);
}

.newComment {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  margin-bottom: 15px;
  margin-top: 10px;
}

.commentImageUpload {
  display: none;
}

.commentImageLabel {
  cursor: pointer;
  color: var(--secondary-color);
  margin-right: 5px;
  margin-left: 5px;
}

.commentImageLabel:hover {
  color: var(--btn-color);
}

.commentInputContainer {
  display: flex;
  align-items: center;
  background-color: var(--lightGray-color);
  border-radius: 8px;
  flex-grow: 1;
  padding: 10px;
}

.commentInput {
  flex-grow: 1;
  border: none;
  background: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.btnComment {
  background: none;
  border: none;
  color: var(--btn-color);
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.commentWithImage .commentImage {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 5px;
}

.online {
  background-color: var(--btn-color);
}

.offline {
  background-color: var(--danger-color);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .menuToggle {
    display: block;
  }

  .container {
    grid-template-columns: 100%;
  }

  .leftSidebar {
    height: 100%;
  }

  .nav,
  .logo {
    display: flex;
    justify-content: center;
  }

  .nav .menuItem {
    flex-direction: column;
    padding: 7px;
    font-size: 12px;
    margin-bottom: 5px;
  }

  /* .imgPrivacyPost {
    grid-template-columns: 45% 53%;
  } */
}

.rightMenuToggle {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  background: var(--btn-color);
  color: var(--background);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}

.rightSidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--background);
  height: 97vh;
  position: sticky;
  top: 0;
  padding: 20px;
  overflow-y: auto;
  border-left: 1px solid var(--third-color);
}

@media (max-width: 768px) {
  .rightMenuToggle {
    display: block;
  }

  .rightSidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 97vh;
    background: var(--background);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .rightSidebar.show {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}




.pop_up{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--danger-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  width: 80%;
  max-width: 500px;
  z-index: 9999;
  opacity: 1;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pop_up h2{
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.fullscreen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}