
/*:root {
    --background: #ffffff;
    --primary-color: #000000;
    --secondary-color: #808080;
    --secondary-hover: #afafaf;
    --third-color: #e4e4e4;
    --lightGray-color: #f4f4f4;
    --btn-color: #81BE1C;
    --danger-color: #ee5459;
}*/

.ChatSection{
    background-color: #f4f4f4;
    color: #000000;
    border-radius: 10px;
}

.MessageSection{
    display: flex;
    /*justify-content: space-between;*/
    gap: 10px;
    padding: 10px;
    
}

.HeaderChat{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.MessageHeader{
    display: flex;
    justify-content: space-between;
    color: #ee5459;
    
}
.MessageContent{
    color: #808080;
}
.MessageHeaderContainer{
    width: 80%;
}

.Image{
    background-image: url('./images/profile.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    border-radius: 50%;
}

.ContentMessages{
    height: 80%;
    max-height: 850px;
    overflow: auto;
}

.Footer{
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.MessageText{
    height: 50%;
    width: 70%;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 15px;
}

.ProfileContainer{
    display: flex;
    background-color: white;
    color: #ee5459;
    justify-content: space-around;
    width: 100%;
    height: 60px;
}

.ProfileImage{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-image: url('./images/profile.png');
    background-repeat: no-repeat;
}

#ButtonSend{
    height: 50%;
    width: 20%;
    font-size: 15px;
    color: white;
    border: none;
    background-color: #18e118;
    border-radius: 10px;
}